# Copy this file to .env and customize values

ENV_NAME=dev
BASE_DIR=/opt/observability-stack

NGINX_IMAGE=nginx:stable-alpine
GRAFANA_IMAGE=grafana/grafana-oss:latest
PROM_IMAGE=prom/prometheus:latest
PG_EXPORTER_IMAGE=prometheuscommunity/postgres-exporter:latest

NGINX_CONTAINER_NAME=nginx-grafana
GRAFANA_CONTAINER_NAME=grafana
PROM_CONTAINER_NAME=prometheus

NGINX_BIND_ADDRESS=0.0.0.0
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=8443

PROM_BIND_ADDRESS=127.0.0.1
PROM_PORT=9090
PROM_SCRAPE_INTERVAL=15s

GRAFANA_INTERNAL_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ChangeMe!
GRAFANA_ALLOW_SIGNUP=false
GRAFANA_COOKIE_SECURE=true
GRAFANA_COOKIE_SAMESITE=strict
GRAFANA_INSTALL_PLUGINS=oci-metrics-datasource,oci-logs-datasource
GRAFANA_DS_NAME=Prometheus
GRAFANA_DS_UID=prometheus

OCI_DS_ENABLED=true
OCI_DS_NAME="Oracle Cloud Infrastructure Metrics"
OCI_DS_UID=oci-metrics
OCI_CONFIG_PROFILE=DEFAULT
OCI_CONFIG_FILE=/Users/shadab/.oci/config
OCI_PRIVATE_KEY_FILE=/Users/shadab/.oci/oci_api_key.pem
OCI_TENANCY_OCID=ocid1.tenancy.oc1..<REPLACE_ME>
OCI_USER_OCID=ocid1.user.oc1..<REPLACE_ME>
OCI_REGION=ap-tokyo-1
OCI_FINGERPRINT=aa:bb:cc:dd:ee:ff:11:22:33:44:55:66:77:88:99:00
OCI_PRIVATE_KEY_PEM_SNIPPET="-----BEGIN PRIVATE KEY-----\nPASTE_PRIVATE_KEY_CONTENT_HERE\n-----END PRIVATE KEY-----"
OCI_PG_COMPARTMENT_OCID=ocid1.compartment.oc1..<REPLACE_ME>
OCI_PG_RESOURCE_GROUP=postgresql

EXPORTER_COUNT=2
EXPORTER_TARGETS=postgres_exporter_primary:9187,postgres_exporter_reporting:9187
EXPORTER_1_NAME=postgres_exporter_primary
EXPORTER_1_DSN=postgresql://monitor_user:REPLACE_ME@10.10.1.82:5432/postgres?sslmode=require
EXPORTER_2_NAME=postgres_exporter_reporting
EXPORTER_2_DSN=postgresql://monitor_user:REPLACE_ME@10.10.1.83:5432/postgres?sslmode=require

CERT_DAYS=365
CERT_COUNTRY=AU
CERT_STATE=NSW
CERT_LOCALITY=Sydney
CERT_ORG=Observability
CERT_OU=Platform
CERT_CN=grafana.local

ENABLE_CHOWN=true
ENABLE_FIREWALL=true
FIREWALL_BACKEND=auto
RUN_SMOKE_TEST_AFTER_DEPLOY=true
HEALTHCHECK_MAX_RETRIES=30
HEALTHCHECK_SLEEP_SECONDS=2
