# Copy this file to .env and customize values

ENV_NAME=dev
BASE_DIR=/opt/observability-stack

NGINX_IMAGE=nginx:stable-alpine
GRAFANA_IMAGE=grafana/grafana-oss:latest
PROM_IMAGE=prom/prometheus:latest
PG_EXPORTER_IMAGE=prometheuscommunity/postgres-exporter:latest

NGINX_CONTAINER_NAME=nginx-grafana
GRAFANA_CONTAINER_NAME=grafana
PROM_CONTAINER_NAME=prometheus

NGINX_BIND_ADDRESS=0.0.0.0
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=8443

PROM_BIND_ADDRESS=127.0.0.1
PROM_PORT=9090
PROM_SCRAPE_INTERVAL=15s
PROM_ADDITIONAL_SCRAPE_CONFIG=

GRAFANA_INTERNAL_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ChangeMe!
GRAFANA_ALLOW_SIGNUP=false
GRAFANA_COOKIE_SECURE=true
GRAFANA_COOKIE_SAMESITE=strict
GRAFANA_INSTALL_PLUGINS=
GRAFANA_DS_NAME=Prometheus
GRAFANA_DS_UID=prometheus

EXPORTER_COUNT=2
EXPORTER_TARGETS=postgres_exporter_primary:9187,postgres_exporter_reporting:9187
EXPORTER_1_NAME=postgres_exporter_primary
EXPORTER_1_DSN=postgresql://monitor_user:REPLACE_ME@10.10.1.82:5432/postgres?sslmode=require
EXPORTER_2_NAME=postgres_exporter_reporting
EXPORTER_2_DSN=postgresql://monitor_user:REPLACE_ME@10.10.1.83:5432/postgres?sslmode=require

CERT_DAYS=365
CERT_COUNTRY=AU
CERT_STATE=NSW
CERT_LOCALITY=Sydney
CERT_ORG=Observability
CERT_OU=Platform
CERT_CN=grafana.local

ENABLE_CHOWN=true
ENABLE_FIREWALL=true
FIREWALL_BACKEND=auto
RUN_SMOKE_TEST_AFTER_DEPLOY=true
RUN_GRAFANA_BINDING_CHECK_AFTER_DEPLOY=true
GRAFANA_UNIFIED_DASH_UID=postgresql-unified-insights
GRAFANA_API_BASE_URL=
HEALTHCHECK_MAX_RETRIES=30
HEALTHCHECK_SLEEP_SECONDS=2
